body {
    font-size: 14px;
    font-family: arial,sans-serif;
}

navbar {
    height: 60px;
    padding: 6px;
}

.main {
    text-align: center;
    margin-top: 30px;
    flex: 1;
}

.main-img {
    margin-top: 110x;
}

a {
    text-decoration: none;
}

a.left-links {
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    color: #222;
}

a.left-links:first-of-type {
    margin-left: 15px;
}

a.right-links {
    color: rgba(0,0,0,0.87);
    flex: 0 0 auto;
    justify-content: flex-end;
}